<h1>My Favourite Hero</h1>
<ul>
  <img src = "https://img00.deviantart.net/9a25/i/2016/262/7/e/dota_2___phantom_assassin_by_arcan_anzas-d8c9wha.png" alt ="Spectre" width="700" height="500">
  <br>
 <li>
   <b>Name:</b> {{hero_name}}</li>
 <li>
   <b>Type:</b> {{hero_type}}</li>
 <li>
   <b>Skill List:</b> <br>
   <b>First Skill:</b> {{hero_skill.skill1}} <br>
   <b>Second Skill:</b> {{hero_skill.skill2}} <br>
   <b>Third Skill:</b> {{hero_skill.skill3}} <br>
   <b>Ultimate Skill:</b> {{hero_skill.skill4}} <br> </li>
</ul>


